mat-drawer-container{
  height: calc(100vh);
  width: 100%;

}

mat-drawer{
 background: rgb(0, 71, 143);
  width: 230px;
  border-right: none;
  text-align: center;

 
}

mat-drawer-content{
  margin: 10px;
  height: calc(100vh - 20px);
  background: rgb(242, 242, 242);
  border-radius: 10px;
  margin-left: 250px !important;  
  /* background: rgb(206, 177, 122); */
}