<div class="stations_home row">
  <div class="stations_home-sidebar col-2">
    <div class="stations_home-sidebar-item">
      <img src="assets/logg.jpg" alt="logoo"
      width="120"
      class="m-3 text-left">
    </div> 
    <div class="stations_home-sidebar-item">
      <span>Dutch FM/AM Radio</span>
    </div>
    <div class="stations_home-sidebar-item">
      <span (click)="getStations()"><fa-icon [icon]="home" ></fa-icon>Home</span>
    </div>
    <div class="stations_home-sidebar-item">
      <span (click)="getFavourites()"><fa-icon [icon]="favourites" ></fa-icon>Favourites</span>
    </div>
    <div class="stations_home-sidebar-item">
     
    </div>

    <div class="stations_home-sidebar-item">
     
    </div>
    <div class="stations_home-sidebar-item">
      
    </div>
    
  </div>
  <div class="stations_home-list col-10">
    <!-- <app-header></app-header> -->
    <div class="bar">
      <div class="search" >
        <input type="text" [(ngModel)]="inputValue" >
       
        <button class="btn-secondary" (click)="searchStations()">Search</button>
      </div>
       <div class="player">
      <h4>Now Playing ...</h4>
      <img [src]="cover" alt="favicon" class="player_controls">
      <audio #audio autoplay [src]="radio"></audio>
      <img [src]="isPlaying ? pause : play" (click)="togglePlayPause()" class="player_controls">
    </div>
  </div>
    
    <div class="mt-5"> 
      <div class="playlist">
        <div *ngFor="let item of stations" (click)="playRadio(item)">
          <app-stations-card
          [coverImage]="item.coverurl"
          ></app-stations-card>
        </div>
      </div>
      
    </div>
    
  </div>
  
</div>
  
  